{# templates/author/show.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Show Author</title>
</head>
<body>
    <h1>Détails de l'auteur</h1>
    
    <p>Nom de l'auteur : {{ name }}</p>
</body>
</html>
