{# templates/aeroport/add.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Add Airport{% endblock %}

{% block body %}
    <h1>Add Airport</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
         <button type="submit">Submit</button>
    {{ form_end(form) }}

    <a href="{{ path('/aeroports') }}">Back to List</a>
{% endblock %}